<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%level] [%class] [%method]: %message %n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="stdout"/>
    </root>

    <!--kaba logger-->
    <logger name="com.kaba" additivity="false" level="debug">
        <appender-ref ref="stdout"/>
    </logger>

</configuration>
