body {

}

h1 {
    text-align: center;
}

a {
    transition: all 0.2s ease 0s;
}

.passwords {
    max-width: 700px;
    margin: auto;
}


.head {
    max-width: 600px;
    margin: auto;
    text-align: center;

}

.head input {
    border: 4px solid #7b7b7b;
    width: 300px;
    padding: 10px;
}

.new {
    margin-top: -20px;
    margin-right: 20px;
}


.password-item {
    background-color: #ffffff;
    margin: 20px;
    padding: 30px;
}

.password-item h3 {
    margin-top: 0;
}

.password-item p {
    font-style: italic;
    font-size: 14px;
}